/* globals.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Roboto', sans-serif !important;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body.customBodyClass .topButtonSize {
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px !important;
  cursor: pointer;
  background: #567fff !important;
  /* line-height: 32px !important; */
  height: 44px !important;
}
body.customBodyClass .bg-Table-Header-Color {
  background: #567fff !important;
}
body.customBodyClass .text-center-important {
  text-align: center !important;
}